{% include 'admin_header.html' %}
<div class="hero-wrap ftco" style="background-image: url('/static/ev.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
      <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
          <div class="col-lg-8 ftco-animate" style="margin-top: -300px;">
              <div class="text w-100 text-center mb-md-4 pb-md-4">
                  <p style="font-size: 18px;">Experience the Future of Mobility with Our Electric Vehicle Charging Network. Fast, Sustainable, and Ready to Power Your Journey. Join Us in Driving a Greener Tomorrow! ⚡🌍 </p>
              </div>
          </div>
      </div>
  </div>
</div>
{% include 'footer.html' %}