{% include 'admin_header.html'%}

<form method="post">
    <table align="center" style="margin-top: 150px;">
        <tr>
            <th style="color: rgb(255, 255, 255);font-size: 20px;">Reply</th>
            <td><textarea name="rep" id="" cols="30" rows="10" required class="form-control"></textarea></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input class="btn btn-warning" type="submit" name="submit"></td>
        </tr>
    </table>
</form>

{% include 'footer.html' %}