{% include 'charging_center_header.html' %}
<body>
    

    <form method="post" >
        <table  align="center" style="margin-top: 200px;">
            <tr>
                <th style="color:rgb(255, 255, 255);">Complaint &nbsp;</th>
                <td ><input type="text" name="com" class="form-control" required></td>
            </tr>
        
            <tr>
                <td colspan="2" align="center"><input type="submit" name="submit" class="btn btn-primary"></td>
            </tr>
        </table>
    </form>

    <table align="center" style="margin-top: 100px;" class="table table-success table-hover">
        <tr>
            <th>SI No</th>
            <th>Complaint</th>
            <th>Reply</th>
            <th>Date</th>
        </tr>
        {% for i in data['view'] %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{i['complaint']}}</td>
            <td>{{i['reply']}}</td>
            <td>{{i['date_time']}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
    {% include 'footer.html' %}
    <style>
        body{
            background-color: rgb(0, 0, 0);
        }
        th,td{
            text-align: center;
        }
        th{
            font-size: 30px;
        }
    </style>

    